<!-- <% if(typeof admin != 'undefined') { %>
    <% if(admin == true) { %>
        <li class="nav-item">
            <a href="./admin" class="nav-link">Page Administrateur</a>
        </li>
    <% } %>
<% } %> -->